.statistics {
  display: table;
  min-width: 300px;
  background: white;
  margin-bottom: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #636a70;
  padding: 20px 10px;
}
